@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-white;
}
.app-container {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (max-width: 600px) {
  .app-container {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
}
